.image {
    align-items: center;
    display: flex;
    height: 80px;
    mix-blend-mode: normal;
    padding: 0 10px;
    width: 80px;
  }
  .image-1.image {
    position: relative;
  }
  .overlap-group13 {
    height: 60px;
    position: relative;
    width: 60px;
  }
  .vector {
    height: 1px;
    left: 30px;
    position: absolute;
    top: 30px;
    width: 1px;
  }
  .vector-1 {
    height: 60px;
    left: 0;
    mix-blend-mode: normal;
    position: absolute;
    top: 0;
    width: 60px;
  }

  .rectangle-18.rectangle-2 {
    height: 191px;
    pointer-events: unset;
    transition: unset;
  }
  .rectangle-2 {
    background-color: var(--gallery);
    height: 275px;
    left: 0;
    mix-blend-mode: normal;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 255px;
  }
  .rectangle-2:hover {
  
  transform: translate(0, -5px);
  box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
  }
  .default {
    align-items: flex-end;
    display: flex;
    height: 120px;
    margin-top: 6px;
    overflow: hidden;
    padding: 0 4px;
    width: 343px;
  }
  .flex-col {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 36px;
    min-height: 158px;
    width: 343px;
  }
  .group-82 {
    align-items: flex-start;
    display: flex;
    min-width: 552px;
  }
  .group-83.group-82 {
    height: 200px;
    margin-left: 38px;
    position: relative;
  }
  .nzs-most-trusted {
    height: 32px;
    letter-spacing: 0.20px;
    line-height: 32px;
    min-height: 32px;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .overlap-group13-1 {
    align-items: center;
    background-color: var(--mist-gray);
    border-radius: 75px;
    display: flex;
    height: 150px;
    min-width: 150px;
    padding: 0 35px;
    position: relative;
  }
  .overlap-group15 {
    align-items: center;
    background-color: var(--gallery);
    display: flex;
    height: 200px;
    justify-content: flex-end;
    min-width: 550px;
    padding: 17px 0;
  }
  .text-2 {
    letter-spacing: 0;
    line-height: 22.4px;
    margin-bottom: -4px;
    min-height: 120px;
    min-width: 292px;
    mix-blend-mode: normal;
    width: 292px;
  }
  .group-.group-39 {
    margin-left: 60px;
    position: relative;
  }
  .group-39 {
    align-items: center;
    background-color: var(--mist-gray);
    border-radius: 50px;
    display: flex;
    height: 100px;
    min-width: 100px;
    padding: 0 23.3px;
  }
  .image-2 {
    align-items: flex-start;
    display: flex;
    height: 53px;
    mix-blend-mode: normal;
    padding: 6.7px;
    width: 53px;
  }
  .overlap-group13-2 {
    height: 40px;
    position: relative;
    width: 40px;
  }
  .vector-2 {
    height: 40px;
    left: 0;
    mix-blend-mode: normal;
    position: absolute;
    top: 0;
    width: 40px;
  }
  .vector-3 {
    height: 1px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 1px;
  }
  .group-8.group-84 {
    left: unset;
    margin-left: 38px;
    position: relative;
    top: unset;
  }
  .group-84 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    min-height: 339px;
    position: absolute;
    top: 0;
    width: 257px;
  }
  .group-85.group-84 {
    left: unset;
    margin-left: 16px;
    position: relative;
    top: unset;
  }
  .overlap-group13-3 {
    align-items: flex-start;
    background-color: var(--gallery);
    display: flex;
    height: 191px;
    min-width: 255px;
    padding: 67.9px 99.9px;
  }
  .text-6 {
    letter-spacing: 0;
    line-height: 22.4px;
    margin-top: 30px;
    min-height: 118px;
    mix-blend-mode: normal;
    width: 257px;
  }
  .vector-4 {
    height: 55px;
    mix-blend-mode: normal;
    width: 55px;
  }
  .email-alerts {
    height: 40px;
    letter-spacing: 0.40px;
    line-height: 40px;
    margin-left: 38px;
    min-height: 40px;
    min-width: 134px;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .facebook {
    height: 40px;
    letter-spacing: 0.40px;
    line-height: 40px;
    margin-left: 35px;
    min-height: 40px;
    min-width: 102px;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .instagram {
    height: 40px;
    letter-spacing: 0.40px;
    line-height: 40px;
    margin-left: 38px;
    min-height: 40px;
    min-width: 112px;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .newsletter {
    height: 24px;
    letter-spacing: 0.20px;
    line-height: 24px;
    margin-left: 38px;
    min-height: 24px;
    min-width: 125px;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .surname {
    height: 18px;
    letter-spacing: 0.20px;
    line-height: 18px;
    margin-left: 283px;
    min-height: 18px;
    min-width: 160px;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .toolbar {
    align-items: center;
    background-color: var(--cape-cod);
    display: flex;
    height: 50px;
    justify-content: flex-end;
    left: 0;
    min-width: 1920px;
    padding: 0 387px;
    position: absolute;
    top: 0;
  }
  .x2021-turners {
    color: var(--white);
    font-family: var(--font-family-mulish);
    font-size: var(--font-size-s);
    font-weight: 600;
    height: 18px;
    letter-spacing: 0.20px;
    line-height: 18px;
    min-height: 18px;
    min-width: 78px;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .appraisal {
    height: 29px;
    letter-spacing: 0.20px;
    line-height: 32px;
    min-height: 29px;
    min-width: 248px;
    mix-blend-mode: normal;
    text-align: center;
    white-space: nowrap;
    width: 248px;
  }
  .auctions-events {
    height: 40px;
    left: 0;
    letter-spacing: 0.40px;
    line-height: 40px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: right;
    top: 4px;
    white-space: nowrap;
  }
  .contents {
    height: 32px;
    letter-spacing: 0.20px;
    line-height: 32px;
    min-height: 32px;
    min-width: 466px;
    mix-blend-mode: normal;
    text-align: center;
    white-space: nowrap;
    width: 466px;
  }
  .ellipse- {
    background-color: var(--mist-gray);
    border-radius: 80px;
    height: 160px;
    left: 48px;
    mix-blend-mode: normal;
    position: absolute;
    top: 30px;
    width: 160px;
  }
  .email-alerts-1 {
    color: var(--white);
    font-family: var(--font-family-mulish);
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    left: 981px;
    letter-spacing: 0.40px;
    line-height: 40px;
    mix-blend-mode: normal;
    position: absolute;
    top: 2px;
    white-space: nowrap;
  }
  .faqs {
    height: 29px;
    letter-spacing: 0.20px;
    line-height: 32px;
    min-height: 29px;
    min-width: 248px;
    mix-blend-mode: normal;
    text-align: center;
    white-space: nowrap;
    width: 248px;
  }
  .final-homepage-v2-2 {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 2716px;
    mix-blend-mode: normal;
    padding: 30px 0;
    width: 1920px;
  }
  .finance {
    height: 24px;
    letter-spacing: 0.20px;
    line-height: 24px;
    margin-left: 38px;
    min-height: 24px;
    min-width: 73px;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .finance-1 {
    height: 29px;
    left: 0;
    letter-spacing: 0.20px;
    line-height: 32px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 221px;
    white-space: nowrap;
    width: 257px;
  }
  .finance-2 {
    height: 29px;
    letter-spacing: 0.20px;
    line-height: 32px;
    min-height: 29px;
    min-width: 248px;
    mix-blend-mode: normal;
    text-align: center;
    white-space: nowrap;
    width: 248px;
  }
  .find-a-car {
    height: 29px;
    left: 0;
    letter-spacing: 0.20px;
    line-height: 32px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 221px;
    white-space: nowrap;
    width: 257px;
  }
  .find-a-car-1 {
    height: 18px;
    letter-spacing: 0.20px;
    line-height: 18px;
    margin-left: 560px;
    min-height: 18px;
    min-width: 96px;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .flex-col-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 1919px;
    width: 1920px;
  }
  .flex-col-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 506px;
    width: 1920px;
  }
  .flex-col-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 1229px;
    width: 1920px;
  }
  .flex-row {
    align-items: center;
    display: flex;
    margin-left: 2.0px;
    min-width: 1142px;
  }
  .flex-row-1 {
    align-items: flex-start;
    display: flex;
    height: 100px;
    margin-top: 56px;
    min-width: 1060px;
    position: relative;
  }
  .flex-row-2 {
    align-items: flex-start;
    display: flex;
    height: 200px;
    margin-left: 2.0px;
    margin-top: 80px;
    min-width: 1142px;
    position: relative;
  }
  .flex-row-3 {
    align-items: flex-start;
    display: flex;
    margin-top: 100px;
    min-width: 1140px;
  }
  .flex-row-4 {
    align-items: flex-start;
    display: flex;
    margin-left: 2.0px;
    margin-top: 27px;
    min-width: 1142px;
    position: relative;
  }
  .flex-row-5 {
    align-items: flex-start;
    display: flex;
    margin-left: 2.0px;
    margin-top: 56px;
    min-width: 1142px;
  }
  .group-31 {
    align-items: flex-start;
    display: flex;
    min-width: 487px;
  }
  .group-81 {
    align-items: center;
    align-self: center;
    display: flex;
    margin-left: 306px;
    min-width: 351px;
  }
  .image-3 {
    align-items: center;
    display: flex;
    height: 40px;
    left: 108px;
    mix-blend-mode: normal;
    padding: 0 5px;
    position: absolute;
    top: 90px;
    width: 40px;
  }
  .insurance {
    height: 29px;
    left: 0;
    letter-spacing: 0.20px;
    line-height: 32px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 221px;
    white-space: nowrap;
    width: 257px;
  }
  .insurance-1 {
    height: 40px;
    letter-spacing: 0.40px;
    line-height: 40px;
    margin-left: 38px;
    min-height: 40px;
    min-width: 99px;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .localphone {
    align-items: center;
    display: flex;
    height: 20px;
    margin-top: 4.0px;
    mix-blend-mode: normal;
    padding: 0 2px;
    width: 20px;
  }
  .login-register {
    height: 40px;
    letter-spacing: 0.40px;
    line-height: 40px;
    margin-left: 6px;
    min-height: 40px;
    min-width: 147px;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .logo {
    height: 32px;
    letter-spacing: 0.20px;
    line-height: 32px;
    min-height: 32px;
    min-width: 71px;
    mix-blend-mode: normal;
    white-space: nowrap;
    width: 71px;
  }
  .overlap-group {
    height: 275px;
    margin-left: 38px;
    position: relative;
    width: 257px;
  }
  .overlap-group-1 {
    align-items: flex-start;
    background-color: var(--gallery);
    display: flex;
    height: 350px;
    justify-content: flex-end;
    margin-left: 40px;
    min-width: 255px;
    padding: 160px 2px;
  }
  .overlap-group1 {
    height: 50px;
    position: relative;
    width: 1920px;
  }
  .overlap-group10 {
    align-items: center;
    background-color: var(--gallery);
    display: flex;
    height: 300px;
    min-width: 1920px;
    padding: 0 920px;
    position: relative;
  }
  .overlap-group11 {
    align-items: flex-start;
    background-color: var(--gallery);
    display: flex;
    height: 350px;
    justify-content: flex-end;
    min-width: 255px;
    padding: 160px 2px;
  }
  .overlap-group13-4 {
    height: 30px;
    position: relative;
    width: 30px;
  }
  .overlap-group13-5 {
    height: 49px;
    position: relative;
    width: 485px;
  }
  .overlap-group13-6 {
    align-items: flex-end;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60bc802e0d81379b238f1ca0/img/vector-3@2x.svg);
    background-size: 100% 100%;
    display: flex;
    height: 14px;
    justify-content: flex-end;
    min-width: 14px;
    padding: 6.7px;
  }
  .overlap-group14 {
    height: 16px;
    position: relative;
    width: 16px;
  }
  .overlap-group3 {
    align-items: flex-start;
    background-color: var(--cape-cod);
    display: flex;
    height: 50px;
    justify-content: flex-end;
    margin-top: 29px;
    min-width: 1920px;
    padding: 0 386px;
  }
  .overlap-group4 {
    align-items: center;
    background-color: var(--gallery);
    display: flex;
    height: 300px;
    margin-top: 50px;
    min-width: 1920px;
    padding: 0 727px;
  }
  .overlap-group5 {
    height: 275px;
    position: relative;
    width: 257px;
  }
  .overlap-group7 {
    height: 339px;
    position: relative;
    width: 279px;
  }
  .person {
    align-items: flex-start;
    display: flex;
    height: 20px;
    margin-left: 35px;
    margin-top: 4.0px;
    mix-blend-mode: normal;
    padding: 3.0px;
    width: 20px;
  }
  .phone {
    height: 40px;
    letter-spacing: 0.40px;
    line-height: 40px;
    margin-left: 10px;
    min-height: 40px;
    min-width: 111px;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .place {
    height: 29px;
    letter-spacing: 0.20px;
    line-height: 32px;
    min-height: 29px;
    min-width: 248px;
    mix-blend-mode: normal;
    text-align: center;
    white-space: nowrap;
    width: 248px;
  }
  .sell-your-car {
    height: 29px;
    left: 0;
    letter-spacing: 0.20px;
    line-height: 32px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 221px;
    white-space: nowrap;
    width: 257px;
  }
  .sell-your-car-1 {
    height: 18px;
    letter-spacing: 0.20px;
    line-height: 18px;
    margin-left: 38px;
    min-height: 18px;
    min-width: 129px;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .surname-1 {
    align-self: flex-start;
    height: 29px;
    letter-spacing: 0.20px;
    line-height: 32px;
    margin-bottom: -3px;
    margin-left: 392px;
    margin-top: 55px;
    min-height: 29px;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .text-1 {
    height: 49px;
    left: 155px;
    letter-spacing: 0.40px;
    line-height: 40px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: right;
    top: 0;
    width: 330px;
  }
  .text-4 {
    height: 32px;
    letter-spacing: 0.20px;
    line-height: 32px;
    margin-top: 80px;
    min-height: 32px;
    min-width: 762px;
    mix-blend-mode: normal;
    text-align: center;
    white-space: nowrap;
    width: 762px;
  }
  .text-5 {
    left: 0;
    letter-spacing: 0;
    line-height: 22.4px;
    mix-blend-mode: normal;
    position: absolute;
    top: 221px;
    width: 279px;
  }
  .title {
    height: 32px;
    letter-spacing: 0.20px;
    line-height: 32px;
    margin-right: 10.0px;
    margin-top: 55px;
    min-height: 32px;
    min-width: 466px;
    mix-blend-mode: normal;
    text-align: center;
    white-space: nowrap;
    width: 466px;
  }
  .vector-10 {
    height: 16px;
    left: 0;
    mix-blend-mode: normal;
    position: absolute;
    top: 0;
    width: 16px;
  }
  .vector-5 {
    height: 1px;
    left: 15px;
    position: absolute;
    top: 15px;
    width: 1px;
  }
  .vector-6 {
    height: 30px;
    left: 0;
    mix-blend-mode: normal;
    position: absolute;
    top: 0;
    width: 30px;
  }
  .vector-7 {
    height: 1px;
    left: 8px;
    position: absolute;
    top: 8px;
    width: 1px;
  }
  .vector-8 {
    height: 55px;
    left: 100px;
    mix-blend-mode: normal;
    position: absolute;
    top: 68px;
    width: 55px;
  }
  .vector-9 {
    height: 1px;
    width: 1px;
  }
  
  @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
  @import url("https://fonts.googleapis.com/css?family=Lato:400,700,900,300,500,600,800,500italic|Mulish:600");
  * {
    box-sizing: border-box;
  }
  .container-center-horizontal {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .container-center-horizontal > * {
    pointer-events: auto;
    flex-shrink: 0;
  }
  .screen a {
    text-decoration: none;
    display: contents;
  }
  .smart-layers-pointers,
  .smart-layers-pointers * {
    pointer-events: auto;
    visibility: visible;
  }
  .valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  