.image-insurance {
    align-items: center;
    display: flex;
    height: 80px;
    mix-blend-mode: normal;
    padding: 0 10px;
    width: 80px;
  }
  .image-1.image-insurance {
    left: 187px;
    position: absolute;
    top: 85px;
  }
  .overlap-group9-2-insurance {
    height: 60px;
    position: relative;
    width: 60px;
  }
  .vector-14-insurance {
    height: 60px;
    left: 0;
    mix-blend-mode: normal;
    position: absolute;
    top: 0;
    width: 60px;
  }
  .vector-15-insurance {
    height: 1px;
    left: 30px;
    position: absolute;
    top: 30px;
    width: 1px;
  }
  