.finance {
  height: 24px;
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-left: 38px;
  min-height: 24px;
  min-width: 73px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.find-a-car {
  height: 18px;
  letter-spacing: 0.20px;
  line-height: 18px;
  min-height: 18px;
  min-width: 96px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.insurance {
  height: 40px;
  letter-spacing: 0.40px;
  line-height: 40px;
  margin-left: 38px;
  min-height: 40px;
  min-width: 99px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.links {
  align-items: center;
  display: flex;
  margin-left: 560px;
  overflow: hidden;
  width: 509px;
}
.sell-your-car {
  height: 18px;
  letter-spacing: 0.20px;
  line-height: 18px;
  margin-left: 38px;
  min-height: 18px;
  min-width: 129px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.image {
  align-items: center;
  display: flex;
  height: 80px;
  mix-blend-mode: normal;
  padding: 0 10px;
  width: 80px;
}
.image-1.image {
  left: 187px;
  position: absolute;
  top: 85px;
}
.overlap-group9 {
  height: 60px;
  position: relative;
  width: 60px;
}
.vector {
  height: 1px;
  left: 30px;
  position: absolute;
  top: 30px;
  width: 1px;
}
.vector-1 {
  height: 60px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 60px;
}
.group-.group-89 {
  margin-left: 35px;
}
.group-89 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 195px;
  position: relative;
  width: 358px;
}
.text-7 {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-right: 2.0px;
  margin-top: 9px;
  min-height: 33px;
  min-width: 310px;
  mix-blend-mode: normal;
  text-align: center;
  width: 310px;
}
.turners-rewards {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  margin-right: 2.0px;
  margin-top: 21px;
  min-height: 32px;
  min-width: 356px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 356px;
}
.group-20 {
  align-items: center;
  background-color: var(--mist-gray);
  border-radius: 50px;
  display: flex;
  height: 100px;
  margin-right: 4.0px;
  min-width: 100px;
  padding: 0 23.3px;
}
.image-2 {
  align-items: flex-start;
  display: flex;
  height: 53px;
  mix-blend-mode: normal;
  padding: 6.7px;
  width: 53px;
}
.overlap-group9-1 {
  height: 40px;
  position: relative;
  width: 40px;
}
.vector-2 {
  height: 40px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 40px;
}
.vector-3 {
  height: 1px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.group-92 {
  align-items: flex-end;
  background-color: var(--cape-cod);
  border-radius: 15px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  left: 945px;
  min-width: 30px;
  padding: 8.4px 7px;
  position: absolute;
  top: 598px;
}
.group-93.group-92 {
  left: unset;
  margin-top: 11px;
  position: relative;
  top: unset;
}
.vector-4 {
  height: 10px;
  mix-blend-mode: normal;
  width: 15px;
}
.email-alerts {
  height: 40px;
  letter-spacing: 0.40px;
  line-height: 40px;
  margin-left: 38px;
  min-height: 40px;
  min-width: 134px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.facebook {
  height: 40px;
  letter-spacing: 0.40px;
  line-height: 40px;
  margin-left: 35px;
  min-height: 40px;
  min-width: 102px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.instagram {
  height: 40px;
  letter-spacing: 0.40px;
  line-height: 40px;
  margin-left: 38px;
  min-height: 40px;
  min-width: 112px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.newsletter {
  height: 24px;
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-left: 38px;
  min-height: 24px;
  min-width: 125px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.surname {
  height: 18px;
  letter-spacing: 0.20px;
  line-height: 18px;
  margin-left: 283px;
  min-height: 18px;
  min-width: 160px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.toolbar {
  align-items: center;
  background-color: var(--cape-cod);
  display: flex;
  height: 50px;
  justify-content: flex-end;
  left: 0;
  min-width: 1920px;
  padding: 0 387px;
  position: absolute;
  top: 0;
}
.x2021-turners {
  color: var(--white);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxxs);
  font-weight: 600;
  height: 18px;
  letter-spacing: 0.20px;
  line-height: 18px;
  min-height: 18px;
  min-width: 78px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.auctions-events {
  height: 40px;
  left: 0;
  letter-spacing: 0.40px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 4px;
  white-space: nowrap;
}
.contents {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  min-height: 32px;
  min-width: 466px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 466px;
}
.damage-to-your-car {
  height: 32px;
  left: 460px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  top: 172px;
  white-space: nowrap;
  width: 254px;
}
.economical {
  left: 1149px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 92px;
}
.email-alerts-1 {
  height: 40px;
  left: 981px;
  letter-spacing: 0.40px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}
.final-insurance-v2-2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3615px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  width: 1920px;
}
.fire-damage {
  height: 32px;
  left: 460px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  top: 248px;
  white-space: nowrap;
  width: 254px;
}
.flex-row {
  align-items: center;
  display: flex;
  height: 40px;
  margin-top: 15px;
  min-width: 1140px;
  position: relative;
}
.flex-row-1 {
  align-items: center;
  display: flex;
  margin-right: 7.0px;
  margin-top: 21px;
  min-width: 953px;
}
.flex-row-2 {
  align-items: center;
  display: flex;
  margin-right: 7.0px;
  margin-top: 16px;
  min-width: 953px;
}
.frame-1 {
  align-items: center;
  background-color: var(--cape-cod);
  border-radius: 20px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin-top: 56px;
  min-width: 260px;
  mix-blend-mode: normal;
  padding: 0 8px;
}
.frame-2 {
  align-items: center;
  background-color: var(--cape-cod);
  border-radius: 20px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin-top: 60px;
  min-width: 260px;
  mix-blend-mode: normal;
  padding: 0 8px;
}
.full-cover {
  height: 32px;
  left: 848px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 64px;
  white-space: nowrap;
  width: 227px;
}
.get-a-quote {
  height: 30px;
  letter-spacing: 0.20px;
  line-height: 32px;
  min-height: 30px;
  min-width: 242px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 242px;
}
.group-31 {
  align-items: flex-start;
  display: flex;
  min-width: 487px;
}
.group-81 {
  align-items: center;
  align-self: center;
  display: flex;
  margin-left: 306px;
  min-width: 351px;
}
.line- {
  height: 1px;
  left: 390px;
  position: absolute;
  top: 150px;
  width: 1140px;
}
.line-1 {
  height: 1px;
  margin-top: 20px;
  width: 1000px;
}
.line-10 {
  height: 1px;
  margin-top: 21px;
  width: 1000px;
}
.line-12 {
  height: 1px;
  margin-top: 25px;
  width: 1000px;
}
.line-2 {
  height: 1px;
  left: 390px;
  position: absolute;
  top: 226px;
  width: 1140px;
}
.line-3 {
  height: 1px;
  left: 390px;
  position: absolute;
  top: 300px;
  width: 1140px;
}
.line-4 {
  height: 1px;
  left: 390px;
  position: absolute;
  top: 376px;
  width: 1140px;
}
.line-5 {
  height: 1px;
  left: 390px;
  position: absolute;
  top: 450px;
  width: 1140px;
}
.line-6 {
  height: 1px;
  left: 390px;
  position: absolute;
  top: 526px;
  width: 1140px;
}
.line-9 {
  height: 1px;
  margin-top: 56px;
  width: 1000px;
}
.load-more {
  height: 32px;
  left: 897px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 556px;
  white-space: nowrap;
  width: 129px;
}
.load-more-1 {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  margin-left: 1.0px;
  margin-top: 29px;
  min-height: 32px;
  min-width: 129px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 129px;
}
.localphone {
  align-items: center;
  display: flex;
  height: 20px;
  margin-top: 4.0px;
  mix-blend-mode: normal;
  padding: 0 2px;
  width: 20px;
}
.login-register {
  height: 40px;
  letter-spacing: 0.40px;
  line-height: 40px;
  margin-left: 6px;
  min-height: 40px;
  min-width: 147px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.logo {
  color: var(--cape-cod);
  font-family: var(--font-family-lato);
  font-size: 24px;
  font-weight: 700;
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  min-height: 32px;
  min-width: 71px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 71px;
}
.more-information {
  color: var(--cape-cod);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxs);
  height: 24px;
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-left: 2.0px;
  margin-top: 21px;
  min-height: 24px;
  min-width: 1142px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 1142px;
}
.overlap-group {
  height: 628px;
  margin-top: 64px;
  position: relative;
  width: 1920px;
}
.overlap-group1 {
  align-items: flex-end;
  align-self: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60bc802e0d81379b238f1ca0/img/vector-90@2x.svg);
  background-size: 100% 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: -0.35px;
  min-width: 25px;
}
.overlap-group10 {
  height: 16px;
  position: relative;
  width: 16px;
}
.overlap-group2 {
  align-items: flex-start;
  background-color: var(--cape-cod);
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin-top: 29px;
  min-width: 1920px;
  padding: 0 386px;
}
.overlap-group3 {
  background-color: var(--gallery);
  height: 250px;
  margin-top: 56px;
  position: relative;
  width: 1140px;
}
.overlap-group4 {
  align-items: center;
  background-color: var(--gallery);
  display: flex;
  height: 250px;
  min-width: 1920px;
  padding: 0 920px;
  position: relative;
}
.overlap-group5 {
  height: 32px;
  margin-left: 140.0px;
  margin-top: 20px;
  position: relative;
  width: 1100px;
}
.overlap-group6 {
  height: 50px;
  position: relative;
  width: 1920px;
}
.overlap-group7 {
  align-items: center;
  background-color: var(--gallery);
  display: flex;
  height: 275px;
  justify-content: flex-end;
  margin-top: 56px;
  min-width: 1920px;
  padding: 0 386px;
  position: relative;
}
.overlap-group8 {
  align-items: center;
  background-color: var(--gallery);
  display: flex;
  height: 300px;
  justify-content: flex-end;
  margin-top: 60px;
  min-width: 1920px;
  padding: 0 726px;
}
.overlap-group9-2 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60bc802e0d81379b238f1ca0/img/vector-86@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 14px;
  justify-content: flex-end;
  min-width: 14px;
  padding: 6.7px;
}
.overlap-group9-3 {
  height: 49px;
  position: relative;
  width: 485px;
}
.person {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-left: 35px;
  margin-top: 4.0px;
  mix-blend-mode: normal;
  padding: 3.0px;
  width: 20px;
}
.phone {
  height: 40px;
  letter-spacing: 0.40px;
  line-height: 40px;
  margin-left: 10px;
  min-height: 40px;
  min-width: 111px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.popular {
  left: 878px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 167px;
}
.rectangle-113 {
  height: 40px;
  left: 1149px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 90px;
}
.rectangle-29 {
  background-color: var(--gallery);
  height: 614px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 1920px;
}
.rectangle-33 {
  height: 40px;
  left: 915px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 90px;
}
.rectangle-33-1 {
  background-color: var(--mist-gray);
  height: 250px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 451px;
}
.span {
  letter-spacing: 0.03px;
}
.text-1 {
  height: 49px;
  left: 155px;
  letter-spacing: 0.40px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 330px;
}
.text-10 {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  margin-left: 18.0px;
  margin-top: 74px;
  min-height: 32px;
  min-width: 1142px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 1142px;
}
.text-11 {
  height: 32px;
  left: 1305px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 173px;
  white-space: nowrap;
  width: 227px;
}
.text-12 {
  height: 32px;
  left: 1305px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 248px;
  white-space: nowrap;
  width: 227px;
}
.text-13 {
  height: 32px;
  left: 1305px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 323px;
  white-space: nowrap;
  width: 227px;
}
.text-14 {
  height: 32px;
  left: 1305px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 398px;
  white-space: nowrap;
  width: 227px;
}
.text-15 {
  height: 32px;
  left: 1305px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 473px;
  white-space: nowrap;
  width: 227px;
}
.text-16 {
  height: 32px;
  left: 852px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 173px;
  white-space: nowrap;
  width: 227px;
}
.text-17 {
  height: 32px;
  left: 852px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 248px;
  white-space: nowrap;
  width: 227px;
}
.text-18 {
  height: 32px;
  left: 852px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 323px;
  white-space: nowrap;
  width: 227px;
}
.text-19 {
  height: 32px;
  left: 852px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 398px;
  white-space: nowrap;
  width: 227px;
}
.text-2 {
  height: 96px;
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-left: 2.0px;
  margin-top: 36px;
  min-height: 96px;
  min-width: 1142px;
  mix-blend-mode: normal;
  text-align: center;
  width: 1142px;
}
.text-20 {
  height: 32px;
  left: 853px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 473px;
  white-space: nowrap;
  width: 227px;
}
.text-21 {
  height: 32px;
  left: 1080px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 173px;
  white-space: nowrap;
  width: 227px;
}
.text-22 {
  height: 32px;
  left: 1080px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 248px;
  white-space: nowrap;
  width: 227px;
}
.text-23 {
  height: 32px;
  left: 1080px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 323px;
  white-space: nowrap;
  width: 227px;
}
.text-24 {
  height: 32px;
  left: 1080px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 398px;
  white-space: nowrap;
  width: 227px;
}
.text-25 {
  height: 32px;
  left: 1080px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 473px;
  white-space: nowrap;
  width: 227px;
}
.text-26 {
  height: 32px;
  left: 460px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  top: 323px;
  white-space: nowrap;
  width: 391px;
}
.text-27 {
  height: 32px;
  left: 460px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  top: 393px;
  white-space: nowrap;
  width: 367px;
}
.text-28 {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  margin-left: 2.0px;
  margin-top: 94px;
  min-height: 32px;
  min-width: 776px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 776px;
}
.text-29 {
  height: 32px;
  left: 0;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 1100px;
}
.text-3 {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  margin-left: 2.0px;
  margin-top: 81px;
  min-height: 32px;
  min-width: 1142px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 1142px;
}
.text-30 {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  min-height: 32px;
  min-width: 822px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 822px;
}
.text-31 {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  min-height: 32px;
  min-width: 932px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 932px;
}
.text-32 {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  min-height: 32px;
  min-width: 758px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 758px;
}
.text-33 {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  min-height: 32px;
  min-width: 704px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 704px;
}
.text-34 {
  height: 64px;
  left: 1081px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 64px;
  width: 227px;
}
.text-8 {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  margin-left: 2.0px;
  margin-top: 80px;
  min-height: 32px;
  min-width: 1142px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 1142px;
}
.text-9 {
  height: 24px;
  left: 12px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 47px;
}
.third-party {
  height: 32px;
  left: 1305px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 64px;
  white-space: nowrap;
  width: 227px;
}
.title {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  margin-left: 2.0px;
  margin-top: 60px;
  min-height: 32px;
  min-width: 1142px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 1142px;
}
.vector-10 {
  height: 10px;
  margin-left: 180px;
  margin-top: 3.26px;
  mix-blend-mode: normal;
  width: 15px;
}
.vector-11 {
  height: 10px;
  left: 418px;
  mix-blend-mode: normal;
  position: absolute;
  top: 336px;
  width: 15px;
}
.vector-12 {
  height: 10px;
  margin-left: 116px;
  margin-top: 3.26px;
  mix-blend-mode: normal;
  width: 15px;
}
.vector-13 {
  height: 10px;
  left: 418px;
  mix-blend-mode: normal;
  position: absolute;
  top: 486px;
  width: 15px;
}
.vector-14 {
  height: 10px;
  left: 938px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 15px;
}
.vector-15 {
  height: 10px;
  left: 418px;
  mix-blend-mode: normal;
  position: absolute;
  top: 185px;
  width: 15px;
}
.vector-16 {
  height: 1px;
  width: 1px;
}
.vector-17 {
  height: 10px;
  left: 418px;
  mix-blend-mode: normal;
  position: absolute;
  top: 406px;
  width: 15px;
}
.vector-18 {
  height: 10px;
  margin-left: 234px;
  margin-top: 3.26px;
  mix-blend-mode: normal;
  width: 15px;
}
.vector-5 {
  height: 10px;
  margin-left: 6px;
  margin-top: 3.26px;
  mix-blend-mode: normal;
  width: 15px;
}
.vector-6 {
  height: 16px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 16px;
}
.vector-7 {
  height: 10px;
  left: 418px;
  mix-blend-mode: normal;
  position: absolute;
  top: 261px;
  width: 15px;
}
.vector-8 {
  height: 15px;
  margin-bottom: -786px;
  mix-blend-mode: normal;
  width: 25px;
}
.vector-9 {
  height: 1px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 1px;
}
.vehicle-removal {
  height: 32px;
  left: 460px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  top: 473px;
  white-space: nowrap;
  width: 254px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900,300,500,600,800,500italic|Mulish:600");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
