.auctions-events-insurance {
  height: 40px;
  left: 0;
  letter-spacing: 0.40px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 4px;
  white-space: nowrap;
}
.contents-insurance {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  min-height: 32px;
  min-width: 466px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 466px;
}
.damage-to-your-car-insurance {
  height: 32px;
  left: 460px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  top: 172px;
  white-space: nowrap;
  width: 254px;
}
.economical-insurance {
  left: 1149px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 92px;
}
.email-alerts-insurance {
  height: 40px;
  left: 981px;
  letter-spacing: 0.40px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}
.final-insurance-v2-2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3615px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  width: 1920px;
}
.fire-damage-insurance {
  height: 32px;
  left: 460px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  top: 248px;
  white-space: nowrap;
  width: 254px;
}
.flex-row-insurance {
  align-items: center;
  display: flex;
  margin-right: 7.0px;
  margin-top: 16px;
  min-width: 953px;
}
.flex-row-1-insurance {
  align-items: center;
  display: flex;
  margin-right: 7.0px;
  margin-top: 21px;
  min-width: 953px;
}
.flex-row-2-insurance {
  align-items: center;
  display: flex;
  height: 40px;
  margin-top: 15px;
  min-width: 1140px;
  position: relative;
}
.frame-insurance {
  align-items: center;
  background-color: var(--cape-cod);
  border-radius: 20px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 260px;
  mix-blend-mode: normal;
  padding: 0 8px;
}
.full-cover-insurance {
  height: 32px;
  left: 848px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 64px;
  white-space: nowrap;
  width: 227px;
}
.get-a-quote-insurance {
  height: 30px;
  letter-spacing: 0.20px;
  line-height: 32px;
  min-height: 30px;
  min-width: 242px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 242px;
}
.group-106-insurance {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-top: 56px;
  min-width: 260px;
}
.group-107-insurance {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-top: 60px;
  min-width: 260px;
}
.group-31-insurance {
  align-items: flex-start;
  display: flex;
  min-width: 487px;
}
.group-81-insurance {
  align-items: center;
  align-self: center;
  display: flex;
  margin-left: 306px;
  min-width: 351px;
}
.line-insurance {
  height: 1px;
  left: 390px;
  position: absolute;
  top: 150px;
  width: 1140px;
}
.line-1-insurance {
  height: 1px;
  margin-top: 20px;
  width: 1000px;
}
.line-10-insurance {
  height: 1px;
  margin-top: 21px;
  width: 1000px;
}
.line-12-insurance {
  height: 1px;
  margin-top: 25px;
  width: 1000px;
}
.line-2-insurance {
  height: 1px;
  left: 390px;
  position: absolute;
  top: 226px;
  width: 1140px;
}
.line-3-insurance {
  height: 1px;
  left: 390px;
  position: absolute;
  top: 300px;
  width: 1140px;
}
.line-4-insurance {
  height: 1px;
  left: 390px;
  position: absolute;
  top: 376px;
  width: 1140px;
}
.line-5-insurance {
  height: 1px;
  left: 390px;
  position: absolute;
  top: 450px;
  width: 1140px;
}
.line-6-insurance {
  height: 1px;
  left: 390px;
  position: absolute;
  top: 526px;
  width: 1140px;
}
.line-9-insurance {
  height: 1px;
  margin-top: 56px;
  width: 1000px;
}
.load-more-insurance {
  height: 32px;
  left: 897px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 556px;
  white-space: nowrap;
  width: 129px;
}
.load-more-1-insurance {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  margin-left: 1.0px;
  margin-top: 29px;
  min-height: 32px;
  min-width: 129px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 129px;
}
.localphone-insurance {
  align-items: center;
  display: flex;
  height: 20px;
  margin-top: 4.0px;
  mix-blend-mode: normal;
  padding: 0 2px;
  width: 20px;
}
.login-register-insurance {
  height: 40px;
  letter-spacing: 0.40px;
  line-height: 40px;
  margin-left: 6px;
  min-height: 40px;
  min-width: 147px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.logo-insurance {
  color: var(--cape-cod);
  cursor: pointer;
  font-family: var(--font-family-lato);
  font-size: 24px;
  font-weight: 700;
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  min-height: 32px;
  min-width: 71px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 71px;
}
.more-information-insurance {
  color: var(--cape-cod);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxs);
  height: 24px;
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-left: 2.0px;
  margin-top: 21px;
  min-height: 24px;
  min-width: 1142px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 1142px;
}
.overlap-group-insurance {
  height: 628px;
  margin-top: 64px;
  position: relative;
  width: 1920px;
}
.overlap-group1-insurance {
  align-items: flex-end;
  align-self: flex-start;
  background-size: 100% 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: -0.35px;
  min-width: 25px;
}
.overlap-group10-insurance {
  height: 16px;
  position: relative;
  width: 16px;
}
.overlap-group2-insurance {
  align-items: flex-start;
  background-color: var(--cape-cod);
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin-top: 29px;
  min-width: 1920px;
  padding: 0 386px;
}
.overlap-group3-insurance {
  background-color: var(--gallery);
  height: 250px;
  margin-top: 56px;
  position: relative;
  width: 1140px;
}
.overlap-group4-insurance {
  align-items: center;
  background-color: var(--gallery);
  display: flex;
  height: 250px;
  min-width: 1920px;
  padding: 0 920px;
  position: relative;
}
.overlap-group5-insurance {
  height: 32px;
  margin-left: 140.0px;
  margin-top: 20px;
  position: relative;
  width: 1100px;
}
.overlap-group6-insurance {
  height: 50px;
  position: relative;
  width: 1920px;
}
.overlap-group7-insurance {
  align-items: center;
  background-color: var(--gallery);
  display: flex;
  height: 275px;
  justify-content: flex-end;
  margin-top: 56px;
  min-width: 1920px;
  padding: 0 386px;
  position: relative;
}
.overlap-group8-insurance {
  align-items: center;
  background-color: var(--gallery);
  display: flex;
  height: 300px;
  justify-content: flex-end;
  margin-top: 60px;
  min-width: 1920px;
  padding: 0 726px;
}
.overlap-group9-insurance {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 14px;
  justify-content: flex-end;
  min-width: 14px;
  padding: 6.7px;
}
.overlap-group9-1-insurance {
  height: 49px;
  position: relative;
  width: 485px;
}
.person-insurance {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-left: 35px;
  margin-top: 4.0px;
  mix-blend-mode: normal;
  padding: 3.0px;
  width: 20px;
}
.phone-insurance {
  height: 40px;
  letter-spacing: 0.40px;
  line-height: 40px;
  margin-left: 10px;
  min-height: 40px;
  min-width: 111px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.popular-insurance {
  left: 878px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 167px;
}
.rectangle-113-insurance {
  height: 40px;
  left: 1149px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 90px;
}
.rectangle-29-insurance {
  background-color: var(--gallery);
  height: 614px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 1920px;
}
.rectangle-33-insurance {
  height: 40px;
  left: 915px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 90px;
}
.rectangle-33-1-insurance {
  background-color: var(--mist-gray);
  height: 250px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 451px;
}
.span-insurance {
  letter-spacing: 0.03px;
}
.text-1-insurance {
  height: 49px;
  left: 155px;
  letter-spacing: 0.40px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 330px;
}
.text-10-insurance {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  margin-left: 18.0px;
  margin-top: 74px;
  min-height: 32px;
  min-width: 1142px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 1142px;
}
.text-11-insurance {
  height: 32px;
  left: 1305px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 173px;
  white-space: nowrap;
  width: 227px;
}
.text-12-insurance {
  height: 32px;
  left: 1305px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 248px;
  white-space: nowrap;
  width: 227px;
}
.text-13-insurance {
  height: 32px;
  left: 1305px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 323px;
  white-space: nowrap;
  width: 227px;
}
.text-14-insurance {
  height: 32px;
  left: 1305px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 398px;
  white-space: nowrap;
  width: 227px;
}
.text-15-insurance {
  height: 32px;
  left: 1305px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 473px;
  white-space: nowrap;
  width: 227px;
}
.text-16-insurance {
  height: 32px;
  left: 852px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 173px;
  white-space: nowrap;
  width: 227px;
}
.text-17-insurance {
  height: 32px;
  left: 852px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 248px;
  white-space: nowrap;
  width: 227px;
}
.text-18-insurance {
  height: 32px;
  left: 852px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 323px;
  white-space: nowrap;
  width: 227px;
}
.text-19-insurance {
  height: 32px;
  left: 852px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 398px;
  white-space: nowrap;
  width: 227px;
}
.text-2-insurance {
  height: 96px;
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-left: 2.0px;
  margin-top: 36px;
  min-height: 96px;
  min-width: 1142px;
  mix-blend-mode: normal;
  text-align: center;
  width: 1142px;
}
.text-20-insurance {
  height: 32px;
  left: 853px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 473px;
  white-space: nowrap;
  width: 227px;
}
.text-21-insurance {
  height: 32px;
  left: 1080px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 173px;
  white-space: nowrap;
  width: 227px;
}
.text-22-insurance {
  height: 32px;
  left: 1080px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 248px;
  white-space: nowrap;
  width: 227px;
}
.text-23-insurance {
  height: 32px;
  left: 1080px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 323px;
  white-space: nowrap;
  width: 227px;
}
.text-24-insurance {
  height: 32px;
  left: 1080px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 398px;
  white-space: nowrap;
  width: 227px;
}
.text-25-insurance {
  height: 32px;
  left: 1080px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 473px;
  white-space: nowrap;
  width: 227px;
}
.text-26-insurance {
  height: 32px;
  left: 460px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  top: 323px;
  white-space: nowrap;
  width: 391px;
}
.text-27-insurance {
  height: 32px;
  left: 460px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  top: 393px;
  white-space: nowrap;
  width: 367px;
}
.text-28-insurance {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  margin-left: 2.0px;
  margin-top: 94px;
  min-height: 32px;
  min-width: 776px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 776px;
}
.text-29-insurance {
  height: 32px;
  left: 0;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 1100px;
}
.text-3-insurance {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  margin-left: 2.0px;
  margin-top: 81px;
  min-height: 32px;
  min-width: 1142px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 1142px;
}
.text-30-insurance {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  min-height: 32px;
  min-width: 822px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 822px;
}
.text-31-insurance {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  min-height: 32px;
  min-width: 932px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 932px;
}
.text-32-insurance {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  min-height: 32px;
  min-width: 758px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 758px;
}
.text-33-insurance {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  min-height: 32px;
  min-width: 704px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 704px;
}
.text-34-insurance {
  height: 64px;
  left: 1081px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 64px;
  width: 227px;
}
.text-8-insurance {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  margin-left: 2.0px;
  margin-top: 80px;
  min-height: 32px;
  min-width: 1142px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 1142px;
}
.text-9-insurance {
  height: 24px;
  left: 12px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 47px;
}
.third-party-insurance {
  height: 32px;
  left: 1305px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 64px;
  white-space: nowrap;
  width: 227px;
}
.title-insurance {
  height: 32px;
  letter-spacing: 0.20px;
  line-height: 32px;
  margin-left: 2.0px;
  margin-top: 60px;
  min-height: 32px;
  min-width: 1142px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 1142px;
}
.vector-insurance {
  height: 10px;
  margin-left: 234px;
  margin-top: 3.26px;
  mix-blend-mode: normal;
  width: 15px;
}
.vector-1-insurance {
  height: 10px;
  margin-left: 6px;
  margin-top: 3.26px;
  mix-blend-mode: normal;
  width: 15px;
}
.vector-10-insurance {
  height: 10px;
  left: 938px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 15px;
}
.vector-11-insurance {
  height: 10px;
  left: 418px;
  mix-blend-mode: normal;
  position: absolute;
  top: 185px;
  width: 15px;
}
.vector-12-insurance {
  height: 1px;
  width: 1px;
}
.vector-13-insurance {
  height: 10px;
  left: 418px;
  mix-blend-mode: normal;
  position: absolute;
  top: 406px;
  width: 15px;
}
.vector-2-insurance {
  height: 16px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 16px;
}
.vector-3-insurance {
  height: 15px;
  margin-bottom: -786px;
  mix-blend-mode: normal;
  width: 25px;
}
.vector-4-insurance {
  height: 10px;
  left: 418px;
  mix-blend-mode: normal;
  position: absolute;
  top: 261px;
  width: 15px;
}
.vector-5-insurance {
  height: 1px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 1px;
}
.vector-6-insurance {
  height: 10px;
  margin-left: 180px;
  margin-top: 3.26px;
  mix-blend-mode: normal;
  width: 15px;
}
.vector-7-insurance {
  height: 10px;
  left: 418px;
  mix-blend-mode: normal;
  position: absolute;
  top: 336px;
  width: 15px;
}
.vector-8-insurance {
  height: 10px;
  margin-left: 116px;
  margin-top: 3.26px;
  mix-blend-mode: normal;
  width: 15px;
}
.vector-9-insurance {
  height: 10px;
  left: 418px;
  mix-blend-mode: normal;
  position: absolute;
  top: 486px;
  width: 15px;
}
.vehicle-removal-insurance {
  height: 32px;
  left: 460px;
  letter-spacing: 0.20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  top: 473px;
  white-space: nowrap;
  width: 254px;
}
