.group-8.group-84 {
    left: unset;
    margin-left: 38px;
    position: relative;
    top: unset;
  }
  .group-84 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    min-height: 339px;
    position: absolute;
    top: 0;
    width: 257px;
  }
  .group-85.group-84 {
    left: unset;
    margin-left: 16px;
    position: relative;
    top: unset;
  }
  .overlap-group13-6 {
    align-items: flex-start;
    background-color: var(--gallery);
    display: flex;
    height: 191px;
    min-width: 255px;
    padding: 67.9px 99.9px;
  }
  .text-6 {
    letter-spacing: 0;
    line-height: 22.4px;
    margin-top: 30px;
    min-height: 118px;
    mix-blend-mode: normal;
    width: 257px;
  }
  .vector-10 {
    height: 55px;
    mix-blend-mode: normal;
    width: 55px;
  }
  